# ビルドファイルやアウトプットファイル
/build
/out

# 依存関係の管理
/node_modules

# システムやエディタのファイル
/.next
/.vscode
/.idea

# バックアップファイルやキャッシュファイル
*.bak
*.log
*.cache

# 環境変数ファイル（秘密情報を含む）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
